body {
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

#lighten {
    opacity: .5;
    
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#backgroundCover {
    position: absolute;
    top:0px;
    right:12%;
    bottom:0px;
    left:12%;
    opacity: 1;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}


#currentDay {
    background-color: rgb(255, 255, 255);
    position:absolute;
    top: 28%;
    right:15%;
    bottom:40%;
    left:15%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(59, 59, 59);
    opacity: 0.8;
}

#hourly {
    background-color: rgb(96, 96, 96);
    position: absolute;
    top:75%;
    right:0px;
    bottom:5%;
    left:0px;
    

}

#nextSix {
    position: absolute;
    top: 10%;
    right: 2%;
    bottom: 10%;
    background-color: black;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

#lastSix {
    position: absolute;
    top: 10%;
    left: 2%;
    bottom: 10%;
    background-color: black;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

/* #cityForm {
}
#submit {
} */

#formOutput {
    background-color:white;
    position:absolute;
    top:63%;
    right:15%;
    bottom:5%;
    left:50%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(59, 59, 59);
    opacity: 0.8;
}

/* label {
}   */


h1 {
    text-align: left;
    margin-left: 20px;

}

h2 {
    position:absolute;
    bottom: 20%;
    left: 45%;
    font-size: medium;
}

h3 {
    margin-left: 20px;
}

#currentTemp {
    position:absolute;
    top: 5%;
    left: 2%;
}

#currentHumid {
    position:absolute;
    left: 3%;
    top: 34%
}

#currentWind {
    position:absolute;
    left: 79%;
    top: 34%
}

#currentRain {
    position:absolute;
    left: 39%;
    top: 34%
}

#greeting {
    position: absolute;
    right: 2%;
    top: 8%;
    font-size:xx-large;
}

#newsHeader {
    position: absolute;
    left: 41%;
    right: 3%;
    top: 0%;
    font-size: larger;
}
.newsLst {
    font-size: medium;
}

#topLine {
    border-top: 2px solid rgb(130, 130, 130);
    position:relative;
    top:15%;
}

#bottomLine {
    border-top: 2px solid white;
    position:relative;
    top:20%;
}


#hourLst {
    position:absolute;
    top:5%;   
    left:15%;
    right: 14%;
}

#tempLst {
    position:absolute;
    top:45%;
    left:15%;
    right: 14%;
}

.list {
    display: inline;
    color: rgb(255, 255, 255);
    padding: 5.08%;
}

.hourList {
    display: inline;
    color: rgb(153, 176, 161);
    padding: 4.88%;
}

#hourSubmit {
    width: 100%;
    background-color: #9f9f9f;
    color: white;
    /* padding: 14px 20px;
    margin: 8px 0; */
    border: none;
    position:inherit;
    border-radius: 4px;
    cursor: pointer;
}

#formTemp { 
    position:absolute;  
    top: 7%;    
    left: 4%;   
}   
#formRain { 
    position: absolute; 
    top: 55%;   
    left: 6%;   
}   
#formHumid {    
    position: absolute; 
    top: 35%;   
    left: 6%;   
}   
#formWind { 
    position: absolute; 
    top: 75%;   
    left: 6%;   
}   

#hourFormDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position:absolute;
    top:63%;
    left:15%;
    right: 52%;
    bottom: 5%;
    border-width: 2px;
    border-style: solid;
    opacity: .95;
}

#citySubmit {
    width: 100%;
    background-color: #9f9f9f;
    color: white;
    /* padding: 14px 20px; */
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cityFormDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position:absolute;
    top:2%;
    left:40%;
    bottom: 74%;
    border-width: 2px;
    border-style: solid;
    opacity: .9;
}

#city, #hour, #day {
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #9f9f9f;
    color: white;
}

#cityLabel, #hourLabel {
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #3e3e3e;
    color: white;
}


#switchOne {
    position: absolute;
    top: 9%;    
    left: 16%;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#switchTwo {
    position: absolute;
    top: 11%;   
    left: 32%;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
#slider {
    opacity: 0;
    width: 0;
    height: 0;
}
#slider2 {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    visibility: visible; 
    /* make sure visibility belongs */
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}