/* body, html {height: 100%;} */

body {
    background-color: rgb(153, 176, 161);
}

#backgroundCover {
    position: absolute;
    top:0px;
    right:200px;
    bottom:0px;
    left:200px;
    
    background-color: rgb(96, 96, 96);
    opacity: 0.5;
}

#currentDay {
    background-color: beige;
    position:absolute;
    top:30px;
    right:230px;
    bottom:400px;
    left:230px;
    border-radius: 10px;
}

#hourly {
    background-color: black;
    position: absolute;
    top:240px;
    right:0px;
    bottom:20px;
    left:0px;
    

}

#nextSix {

}

#lastSix {

}

form {
    position: absolute;
    top:700px;
    right:200px;
    bottom:0px;
    left:250px;
}

#formOutput {

}

h1 {
    text-align: left;
    margin-left: 20px;

}

h2 {
    text-align: center;
    color: rgb(153, 176, 161);
}

h3 {

}

li {
    display: inline;
    color: rgb(153, 176, 161);
    padding: 70px;
    font-size:x-large;
    text-align: center;
}